* {
    box-sizing: border-box;
}
    
body {
    background: linear-gradient(135deg, #000000, gray);
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Doto; 
}

.main {
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    padding: 1.2px 1px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 0 5px;
    transition: transform 0.3s, opacity 0.3s;
}

a:hover {
    transform: scale(0.9);
    opacity: 0.8;
}
